/*whole body*/
* {
  margin: 0;
  padding: 0;
}

/*header-styles*/
header {
  background-color: #fecc00;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}
header h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}
header h1 {
  padding-bottom: 13px;
}

/*just for now*/
main div {
  padding: 50px;
}

/*footer-styles*/
footer {
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  width: 100vw;
  padding: 28px;
  font-size: 0.9em;
}
footer a {
  color: #fecc00;
}
footer a:hover {
  color: #dfb202;
}

/*Map-styles*/
.map-container {
  height: 60vh;
  width: 60vh;
  position: relative;
  z-index: 0;
  top: 30px;
  display: inline-block;
  border-radius: 5px;
}
main {
  padding: 130px;
}

/*text-styles*/
div.info-text {
  display: inline-block;
  position: relative;
  background-color: lightgray;
  border-radius: 5px;
  width: 650px;
  left: 53px;
  bottom: 250px;
}
div.info-text ul {
  line-height: 33px;
  font-size: 1.15em;
  padding-top: 7px;
}

@media screen and (max-width: 1738.4px) {
  div.info-text {
    width: 500px;
  }
}

@media screen and (max-width: 1589px) {
  div.info-text {
    width: 400px;
    bottom: 170px;
  }
}

@media screen and (max-width: 1488px) {
  .map-container {
    height: 50vh;
    width: 50vh;
    position: relative;
    z-index: 0;
    top: 30px;
    display: block;
    border-radius: 5px;
    left: 240px;
  }
  main {
    padding: 180px;
  }
  div.info-text {
    display: block;
    bottom: 0;
    left: 0;
    top: 50px;
    width: 510px;
    left: 240px;
  }
}
@media screen and (max-width: 1250px) {
  .map-container {
    height: 40vh;
    width: 40vh;
    position: relative;
    z-index: 0;
    display: block;
    border-radius: 5px;
    left: 110px;
  }
  main {
    padding: 250px;
    padding-top: 150px;
    padding-bottom: 350px;
  }
  div.info-text {
    top: 60px;
    width: 410px;
    left: 110px;
  }
}

/*marker-popup-styles*/
div.leaflet-popup-content {
  padding: 2px;
}
.leaflet-popup-content-wrapper {
  text-align: center;
}
